@media screen and(max-width: 1024px){
  .wrapper{
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
    section, .header, .footer, .banner, .catalog, .brands{
      grid-column: 1/5;
    }
    .header{

      .nav{
        display: none;
      }
      .light-mode{
        display: none;
      }
      #login-btn{
        display: none;
      }
      .current-user-info{
        display: none;
      }
      .mobile-menu-toggler{
        display: block;
      }
    }
    .banner{
      height: 400px;
      .banner-block{

        background-color: rgba(0,0,0,0.5);
        .banner-company-name{
          font-size: 2.2em;
        }
        .banner-slogan{
          font-size: 1.6em;
        }
      }
    }
    .catalog{
      padding: 10px 25px;
      .container{
        .cat{
          #mobile-supercat-menu{
            display: block;
          }
          width: 100%;
        }
        .sub-cat{
          display: none;
        }
      }
    }
    .brands{
      .container{
        flex-wrap: wrap;
        height: auto;
        .brand{
          margin:15px 0;
        }
      }
    }
    .advert{
      .container{
        flex-wrap: wrap;
        >*{
          width: 100%;
        }
        .advert-img-block{
          margin:10px 0;
          a{
            @include center-flex();
          }
        }
        .advert-text{
          align-items: center;
        }
      }
    }
    .about-us{

      .container{
        .about-msg{
          width: 100%;
          &:hover{
            transform: none;
          }
          #map{
            display: none;
          }
        }
      }
    }
    .contacts{
      .container{
        .all-links{
          flex-wrap: wrap;
          a{
            margin: 10px;
          }
        }
        .all-mails{
          flex-wrap: wrap;
          .col{
            margin:15px 0;
          }
        }
      }
    }
  }

  .wrapper-catalog{
    overflow: hidden;
    .main{
      .container{
        padding: 14px;
      }
      .also-like{
        flex-wrap: wrap;
      }
      .user-applications{
        .user-application{
          flex-wrap: wrap;
          border-bottom: 2px solid $purple-col;
          >*{
            padding: 10px;
          }
        }
      }
      .basket-container{
        .basket-product{
          flex-wrap: wrap;
          >*{
            padding: 5px;
            min-height: 50px;
          }
        }
        form{
          .form-template-btns{
            flex-direction: column;
          }
        }
      }
      .one-product{
        .text-drop{
          border-bottom: 20px solid $main-col;
          height: 50px;
          overflow: hidden;
          margin: 10px;
          header{
            height: 40px;
            @include center-flex();
            background-color: $main-col;
            width: 100%;
            img{
              width: 15px;
              height: 15px;
              margin-left: 10px;
            }
          }
          p{
            padding: 7px;
          }
        }
        .one-product-top{
          max-height: unset;
          max-width: 100vw;
          flex-wrap: wrap;
          .one-product-feature{
            overflow: hidden;
          }
          #one-product-main-img{
            width: 100%;
          }
          >*{
            width: 100%;
          }
        }
        iframe{
          width: 100%;
        }
      }
      .one-product-rev{
        .also-like{
          display: none;
        }
      }
      .grid-payment{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
        div{
          max-width: 80vw;
          img{
            max-width: 100%;
          }
        }
      }
    }
  }

  .about-msg-active{
    animation: none;
  }
  .wrapper-main{
    overflow: hidden;
  }

  .admin-wrapper{
    section{
      .container{
        .line-row{
          height: auto !important;
          flex-wrap: wrap;
          >*{
            img{
              max-width: 80%;
            }
            margin: 10px 0;
            width: 50% !important;
          }
        }
      }
    }
    .header{
      .menu-toggler{
        top:5px;
        right: 5px;
      }
    }
  }


  .admin-modal{
    header{
      button{
        img{
          max-width: 100%;
        }
      }
    }
  }
}